<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.meiyong">
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Meiyong"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".ManageOrders"
                android:exported="false"
                android:label="订单列表" />
        <activity
                android:name=".bottom_sheet_test"
                android:exported="false" />
        <activity android:name=".GaodeMapActivity" />
        <activity
                android:name=".ChangePassword"
                android:exported="false"
                android:label="修改密码" />
        <activity
                android:name=".SetAddress"
                android:exported="false"
                android:label="添加地址" />
        <activity
                android:name=".SendExpress"
                android:exported="false"
                android:label="寄包裹" />
        <activity
                android:name=".PIN_Code"
                android:exported="false"
                android:label="取件码" />
        <activity
                android:name=".Register"
                android:exported="false"
                android:label="注册" />
        <activity
                android:name=".ui.login.LoginActivity"
                android:exported="false"
                android:label="@string/title_activity_login" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDdq7xMxelbOvVBqbjV7G26dyYDkX649Ys" />

        <activity
                android:name=".MapsActivity"
                android:exported="false"
                android:label="@string/title_activity_maps" />

        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="02974250a945cbe86a2ae5acce0941b1" />

        <activity
                android:name=".ScanActivity"
                android:screenOrientation="fullSensor"
                android:stateNotNeeded="true"
                android:theme="@style/zxing_CaptureTheme"
                android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>